Dev/Test/Demo/Service References/AuthenticationManager/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.atdi.com/appserver/services" elementFormDefault="qualified" targetNamespace="http://schemas.atdi.com/appserver/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserCredential">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCredential" nillable="true" type="tns:UserCredential" />
  <xs:complexType name="ResultOfUserIdentityPRoijPX3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.atdi.com/appserver/services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserIdentity" Namespace="http://schemas.atdi.com/appserver/services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:UserIdentity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfUserIdentityPRoijPX3" nillable="true" type="tns:ResultOfUserIdentityPRoijPX3" />
  <xs:complexType name="Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultOfOperationStatePRoijPX3">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="OperationResultOfOperationStatePRoijPX3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.atdi.com/appserver/services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OperationState" Namespace="http://schemas.atdi.com/appserver/services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:OperationState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultOfOperationStatePRoijPX3" nillable="true" type="tns:OperationResultOfOperationStatePRoijPX3" />
  <xs:simpleType name="OperationState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fault" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationState" nillable="true" type="tns:OperationState" />
  <xs:complexType name="UserIdentity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentityOfintUserToken5ExyUEPG">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserIdentity" nillable="true" type="tns:UserIdentity" />
  <xs:complexType name="UserIdentityOfintUserToken5ExyUEPG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="UserIdentityOf{0}{1}{#}" Namespace="http://schemas.atdi.com/appserver/services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="UserToken" Namespace="http://schemas.atdi.com/appserver/services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserToken" nillable="true" type="tns:UserToken" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentityOfintUserToken5ExyUEPG" nillable="true" type="tns:UserIdentityOfintUserToken5ExyUEPG" />
  <xs:complexType name="UserToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserToken" nillable="true" type="tns:UserToken" />
</xs:schema>