Dev/Test/Demo/Service References/ServiceReference_WebQuery/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.atdi.com/appserver/services/WebQuery" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.atdi.com/appserver/services/WebQuery" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.atdi.com/appserver/services/WebQuery/Imports">
      <xsd:import schemaLocation="http://localhost:8736/Atdi/WcfServices/WebQuery/?xsd=xsd0" namespace="http://schemas.atdi.com/appserver/services/WebQuery" />
      <xsd:import schemaLocation="http://localhost:8736/Atdi/WcfServices/WebQuery/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8736/Atdi/WcfServices/WebQuery/?xsd=xsd2" namespace="http://schemas.atdi.com/appserver/services" />
      <xsd:import schemaLocation="http://localhost:8736/Atdi/WcfServices/WebQuery/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8736/Atdi/WcfServices/WebQuery/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebQuery_GetQueryGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryGroups" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_GetQueryGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_GetQueryMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryMetadata" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_GetQueryMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_GetQueryMetadataByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryMetadataByCode" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_GetQueryMetadataByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryMetadataByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_ExecuteQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_ExecuteQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_SaveChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveChanges" />
  </wsdl:message>
  <wsdl:message name="IWebQuery_SaveChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebQuery">
    <wsdl:operation name="GetQueryGroups">
      <wsdl:input wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/GetQueryGroups" message="tns:IWebQuery_GetQueryGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/GetQueryGroupsResponse" message="tns:IWebQuery_GetQueryGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryMetadata">
      <wsdl:input wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/GetQueryMetadata" message="tns:IWebQuery_GetQueryMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/GetQueryMetadataResponse" message="tns:IWebQuery_GetQueryMetadata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryMetadataByCode">
      <wsdl:input wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/GetQueryMetadataByCode" message="tns:IWebQuery_GetQueryMetadataByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/GetQueryMetadataByCodeResponse" message="tns:IWebQuery_GetQueryMetadataByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuery">
      <wsdl:input wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/ExecuteQuery" message="tns:IWebQuery_ExecuteQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/ExecuteQueryResponse" message="tns:IWebQuery_ExecuteQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveChanges">
      <wsdl:input wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/SaveChanges" message="tns:IWebQuery_SaveChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.atdi.com/appserver/services/WebQuery/IWebQuery/SaveChangesResponse" message="tns:IWebQuery_SaveChanges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>